<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tumblr.ramiroaraujo.alfred-image-optim</string>
	<key>connections</key>
	<dict>
		<key>0D6A63CA-3867-4EEB-85F6-8DB5B71497E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E80424D6-185B-48E5-B238-0FA83AB3DBA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CE8AA770-FD08-4A91-B13F-8531B5A8A849</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D6A63CA-3867-4EEB-85F6-8DB5B71497E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EF0F2B6E-A672-4EBD-AEFC-78E0EBEC0131</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EF0F2B6E-A672-4EBD-AEFC-78E0EBEC0131</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17C9CDD2-6EE2-457F-AF3F-1E0A5869E53E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ramiro Araujo</string>
	<key>description</key>
	<string>Image optimization workflow based on ImageOptim-CLI (https://github.com/JamieMason/ImageOptim-CLI) from Jamie Mason.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Optimize Images</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string># simple count feedback
/usr/bin/ruby count.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0D6A63CA-3867-4EEB-85F6-8DB5B71497E5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array>
					<string>com.compuserve.gif</string>
					<string>com.microsoft.bmp</string>
					<string>com.truevision.tga-image</string>
					<string>public.folder</string>
					<string>public.jpeg</string>
					<string>public.png</string>
					<string>public.tiff</string>
				</array>
				<key>name</key>
				<string>Optimize Images</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>CE8AA770-FD08-4A91-B13F-8531B5A8A849</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>could take a while...</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E80424D6-185B-48E5-B238-0FA83AB3DBA8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>/usr/bin/ruby main.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EF0F2B6E-A672-4EBD-AEFC-78E0EBEC0131</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Optimization complete!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>17C9CDD2-6EE2-457F-AF3F-1E0A5869E53E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>readme</string>
	<key>uidata</key>
	<dict>
		<key>0D6A63CA-3867-4EEB-85F6-8DB5B71497E5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>17C9CDD2-6EE2-457F-AF3F-1E0A5869E53E</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>CE8AA770-FD08-4A91-B13F-8531B5A8A849</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E80424D6-185B-48E5-B238-0FA83AB3DBA8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EF0F2B6E-A672-4EBD-AEFC-78E0EBEC0131</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/ramiroaraujo/alfred-ruby-template</string>
</dict>
</plist>
