<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>bundleid</key>
        <string></string>
        <key>connections</key>
        <dict>
            <key>10C9CC22-A6D9-481C-9022-CFAB6AC93853</key>
            <array>
                <dict>
                    <key>destinationuid</key>
                    <string>0427F7BB-2C6A-4A68-8E21-A26F5AAE324A</string>
                    <key>modifiers</key>
                    <integer>0</integer>
                    <key>modifiersubtext</key>
                    <string></string>
                </dict>
            </array>
            <key>F417AEF2-2A4E-4580-ADD0-70B3EAB547AF</key>
            <array>
                <dict>
                    <key>destinationuid</key>
                    <string>10C9CC22-A6D9-481C-9022-CFAB6AC93853</string>
                    <key>modifiers</key>
                    <integer>0</integer>
                    <key>modifiersubtext</key>
                    <string></string>
                </dict>
            </array>
        </dict>
        <key>createdby</key>
        <string></string>
        <key>description</key>
        <string></string>
        <key>disabled</key>
        <false/>
        <key>name</key>
        <string></string>
        <key>objects</key>
        <array>
            <dict>
                <key>config</key>
                <dict>
                    <key>concurrently</key>
                    <false/>
                    <key>escaping</key>
                    <integer>102</integer>
                    <key>script</key>
                    <string>open "`dirname "{query}"`"
                        echo "revealed " `basename "{query}"`</string>
                    <key>type</key>
                    <integer>0</integer>
                </dict>
                <key>type</key>
                <string>alfred.workflow.action.script</string>
                <key>uid</key>
                <string>10C9CC22-A6D9-481C-9022-CFAB6AC93853</string>
                <key>version</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>config</key>
                <dict>
                    <key>argumenttype</key>
                    <integer>0</integer>
                    <key>escaping</key>
                    <integer>102</integer>
                    <key>keyword</key>
                    <string>filesearch</string>
                    <key>queuedelaycustom</key>
                    <integer>3</integer>
                    <key>queuedelayimmediatelyinitially</key>
                    <true/>
                    <key>queuedelaymode</key>
                    <integer>0</integer>
                    <key>queuemode</key>
                    <integer>2</integer>
                    <key>runningsubtext</key>
                    <string>searching..</string>
                    <key>script</key>
                    <string>/usr/bin/php script-filter.php "{query}"</string>
                    <key>subtext</key>
                    <string>search for files</string>
                    <key>title</key>
                    <string>search files demo</string>
                    <key>type</key>
                    <integer>0</integer>
                    <key>withspace</key>
                    <true/>
                </dict>
                <key>type</key>
                <string>alfred.workflow.input.scriptfilter</string>
                <key>uid</key>
                <string>F417AEF2-2A4E-4580-ADD0-70B3EAB547AF</string>
                <key>version</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>config</key>
                <dict>
                    <key>lastpathcomponent</key>
                    <false/>
                    <key>onlyshowifquerypopulated</key>
                    <false/>
                    <key>output</key>
                    <integer>0</integer>
                    <key>removeextension</key>
                    <false/>
                    <key>sticky</key>
                    <false/>
                    <key>text</key>
                    <string>{query}</string>
                    <key>title</key>
                    <string>Notice</string>
                </dict>
                <key>type</key>
                <string>alfred.workflow.output.notification</string>
                <key>uid</key>
                <string>0427F7BB-2C6A-4A68-8E21-A26F5AAE324A</string>
                <key>version</key>
                <integer>0</integer>
            </dict>
        </array>
        <key>readme</key>
        <string></string>
        <key>uidata</key>
        <dict>
            <key>0427F7BB-2C6A-4A68-8E21-A26F5AAE324A</key>
            <dict>
                <key>ypos</key>
                <real>10</real>
            </dict>
            <key>10C9CC22-A6D9-481C-9022-CFAB6AC93853</key>
            <dict>
                <key>ypos</key>
                <real>10</real>
            </dict>
            <key>F417AEF2-2A4E-4580-ADD0-70B3EAB547AF</key>
            <dict>
                <key>ypos</key>
                <real>10</real>
            </dict>
        </dict>
        <key>webaddress</key>
        <string></string>
    </dict>
</plist>
